#color{
    /* light grey */
    color: rgba(60, 64, 67);

    /* Dark grey  */
    color: rgba(50, 54, 57);

    /* Almost black */
    color: rgba(40, 44, 47);


    color: rgba(0, 0, 0);
    color: rgba(0, 0, 0);
    color: rgba(0, 0, 0);
    color: rgba(0, 0, 0);
    color: rgba(0, 0, 0);
    
}